# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules
node_modules/

# Build Output

# client (Next.js)
client/node_modules/
client/.next/
client/out/
client/.env
client/.env.local

# admin (Vite)
admin/node_modules/
admin/dist/
admin/.env
admin/.env.local

# SSR output (if used)
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.*.local
*.env.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: lock files (if you want to exclude them from Git)
# pnpm-lock.yaml    
