@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
  color: black;
}

@keyframes slideFadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFadeUp {
  animation: slideFadeUp 0.5s ease-out;
}

.animate-slideFadeDown {
  animation: slideFadeDown 0.5s ease-out;
}

button {
  cursor: pointer;
}
